fastapi[all]
uvicorn
pymongo
faiss-cpu
langchain
huggingface_hub
textblob
plotly
uuid
mangum
langchain-huggingface
langchain-groq
tf-keras
torch
transformers
sentencepiece
bitsandbytes
accelerate
trl
peft
datasets
streamlit